header#main-header {
    width: 100%;
    height: 60px;
    background: #F9F7F1;
    font-size: 18px;
    font-weight: bold;
    color: #38D7E7;
    display: flex;
    justify-content: center;
    align-items: center;
}